# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore build output
/dist/
/build/
*.log
